[Unit]
Description=Hexagonrpcd ADSP RootPD Daemon to support Qualcomm Hexagon ADSP virtual filesystem for RootPD
Requires=dev-fastrpc\x2dadsp.device
After=dev-fastrpc\x2dadsp.device
Before=iio-sensor-proxy.service
# Ideally this should be removed once hexagonrpcd-adsp works on pipa, but for now when installing iio-sensor-proxy-libssc this service gets started which breaks audio after suspend, disabling it should fix it.
ConditionPathExists=!/dev/fastrpc-sdsp

[Service]
User=fastrpc
Group=fastrpc
EnvironmentFile=/etc/conf.d/hexagonrpcd-adsp-rootpd
ExecStart=/usr/bin/hexagonrpcd -f /dev/fastrpc-adsp -R ${hexagonrpcd_fw_dir}
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
